
@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-image: url(https://res.cloudinary.com/db9dqphdc/image/upload/v1750922959/pexels-myburgh-1102797_jkr6rz.jpg
);
  background-size: cover;         /* Covers entire screen */
  background-position: center;    /* Centers image */
  background-attachment: fixed;   /* Fixes background while scrolling */
  background-repeat: no-repeat;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(8px);     /* Apply blur */
  z-index: -1;                    /* Behind content */
}

a {
  font-weight: 500;
  /* color: #d0d2ef; */
  text-decoration: inherit;
}
a:hover {
  color: #9a9de4;
}

body {
  margin: 0;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.1em;
  line-height: 1.1;
}
/* 
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #bcdaf4;
    background-color: #ffffff;
  }
  a:hover {
    color: #d5d6ef;
  }
  /* button {
    /* background-color: #f9f9f9; */
  } */
/* } */
html {
  scroll-behavior: smooth;
}

